article {
  display: grid;
  grid-gap: 20px;
  align-items: center;
  
}

article img{
  width: 100%;
  height: 12rem;
}

.card {
  overflow: hidden;
  margin: 10px;
  border: 1px solid black;
  box-shadow: 2px 2px 8px;
  border-radius: 6%;
}